<header>
<nav>
    <ul *ngIf="!showBurger">
        <li><a routerLink="home" [routerLinkActive]="active" >Home</a></li>
        <li><a routerLink="hotels"  [routerLinkActive]="active">Hotels</a></li>
        <li><a routerLink="rooms"  [routerLinkActive]="active">Rooms</a></li>
        <li><a routerLink="bookedrooms" [routerLinkActive]="active">Booked Rooms</a></li>
    </ul>
    
</nav>

<div class="burger" (click)="showHide()">
       <div class="line"></div>
       <div class="line"></div>  
       <div class="line"></div>
</div>

</header>

<div class="burgerMenu" *ngIf="showBurger">
    <ul>
        <li><a routerLink="home" [routerLinkActive]="active">Home</a></li>
        <li><a routerLink="hotels" [routerLinkActive]="active">Hotels</a></li>
        <li><a routerLink="rooms" [routerLinkActive]="active">Rooms</a></li>
        <li><a routerLink="bookedrooms" [routerLinkActive]="active">Booked Rooms</a></li>
    </ul>

</div>