<div data-aos="fade-down">

<div class="image-container" data-aos="zoom-in-up">
    
    <img src="images/slide-bg.jpg"  class="fade-image">
</div>


<div class="text">
    <!-- <div class="stars">
           <span>★</span>
           <span>★</span>
           <span>★</span>
           <span>★</span>
           <span>★</span>
    </div> -->
        <h1>LUXURY HOTEL</h1>
      
   <div class="stars">
           <span>★</span>
           <span>★</span>
           <span>★</span>
           <span>★</span>
           <span>★</span>
   </div>

       <p>And We Like To Keep It That Way</p>

    <a routerLink="/hotels">See Hotels</a>

 
</div>


</div>

<div class="separator">
  <hr />
  <span class="separator-text">Guests Favorite Rooms</span>
  <hr />
</div>

<div class="rooms-container">
  <div class="room-card" *ngFor="let room of roomsArr">
     <img [src]="room.images[0].source" alt="" />
     <button routerLink="/booking/{{room.id}}"   class="reserve-btn">Book Now</button>
     <h2>{{ room.name }}</h2>
    <!-- <p><i class="fas fa-hotel"></i> Hôtel ID : {{ room.hotelId }}</p> -->
    <p>A Night : {{ room.pricePerNight }} €</p>
   
    <!-- <p>
      <i class="fas" [ngClass]="room.available ? 'fa-check-circle available' : 'fa-times-circle unavailable'"></i>
      {{ room.available ? 'Disponible' : 'Indisponible' }}
    </p> -->
    
  </div>
</div>


<div class="separator">
  <hr />
  <span class="separator-text">USP section</span>
  <hr />
</div>




<div class="circleparent">

<div class="circle-container">
  <div class="circle">
    <img  src="https://cdn-icons-png.flaticon.com/512/96/96172.png" alt="Verre à pied" class="glass" />
  </div>
  <p class="circle-text">Beverages included</p>
  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, iste.</span>
</div>


<div class="circle-container">
  <div class="circle">
    <i class="fa-regular fa-credit-card"></i>
  </div>
  <p class="circle-text">Stay First, Pay After!</p>
  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, iste.</span>
</div>


<div class="circle-container">
  <div class="circle">
   <i class="fa-solid fa-utensils"></i>
  </div>
  <p class="circle-text">24 Hour Restaurant</p>
  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, iste.</span>
</div>


<div class="circle-container">
  <div class="circle">
    <i class="fa-solid fa-droplet"></i>
  </div>
  <p class="circle-text">Spa Included!</p>
  <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, iste.</span>
</div>
</div>